/*
 * The panel's fonts, bundled rather than fetched: inside the plugin the page
 * has no network, and a synth that calls a font server on every load is not
 * one a producer should have to trust. Latin only, the weights styles.css
 * uses, woff2 only (every web view the plugin runs in reads it). Both
 * families are SIL Open Font License 1.1, from the @fontsource packages.
 */

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('@fontsource/archivo/files/archivo-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url('@fontsource/archivo/files/archivo-latin-800-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('@fontsource/jetbrains-mono/files/jetbrains-mono-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('@fontsource/jetbrains-mono/files/jetbrains-mono-latin-700-normal.woff2') format('woff2');
}
